[project]
	description = Clean Java-8 Linq style collection implementation
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Reuben Kuhnert (sircodesalotOfTheRound)
[access "refs/for/refs/*"]
	read = group user/Reuben Kuhnert (sircodesalotOfTheRound)
	push = group user/Reuben Kuhnert (sircodesalotOfTheRound)
	label-Code-Review = -2..+2 group user/Reuben Kuhnert (sircodesalotOfTheRound)
	label-Verified = -1..+1 group user/Reuben Kuhnert (sircodesalotOfTheRound)
	rebase = group user/Reuben Kuhnert (sircodesalotOfTheRound)
	removeReviewer = group user/Reuben Kuhnert (sircodesalotOfTheRound)
	submit = group user/Reuben Kuhnert (sircodesalotOfTheRound)
[access "refs/heads/*"]
	read = group user/Reuben Kuhnert (sircodesalotOfTheRound)
	create = group user/Reuben Kuhnert (sircodesalotOfTheRound)
	push = +force group user/Reuben Kuhnert (sircodesalotOfTheRound)
	pushMerge = group user/Reuben Kuhnert (sircodesalotOfTheRound)
[access "refs/tags/*"]
	push = +force group user/Reuben Kuhnert (sircodesalotOfTheRound)
	pushTag = group user/Reuben Kuhnert (sircodesalotOfTheRound)
	pushSignedTag = group user/Reuben Kuhnert (sircodesalotOfTheRound)
